<!DOCTYPE html>
<html>
<head>
  <title>CelloApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="http://bootswatch.com/paper/bootstrap.min.css">


</head>
<body>
  <header id="header">
    <h1><%= link_to "Cello", '/' %></h1>
    <h4>The ToDo List for Musicians</h4>
    <%= link_to '<button type="button" class="btn btn-primary btn-lg">Create New List</button>'.html_safe, '/lists/new' %>
  </header><!-- /header -->
  <section class="main">
    <div class="yields">
      <%= yield %>
    </div>
  </section>

</body>
</html>
